<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>| PROJECT |</title>
</head>
<body>
    <center><h1>LIST OF PROJECTS</h1></center>
    
    <div style="margin: 20px;">
        <p>Google Web Page</p>
        <p>Heroku Web App</p>
        <p>One Point</p>
    </div>
    

    {{> footer}}
</body>
</html>